<!-- Dependency Scripts -->
<script src="{{ '/libs/popper/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/libs/jquery/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/libs/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/libs/slick/js/slick.min.js' | relative_url }}"></script>
<script src="{{ '/libs/mmenu/js/jquery.mmenu.all.min.js' | relative_url }}"></script>

<!-- Site Scripts -->
<script src="{{ '/assets/js/app.js' | relative_url }}"></script>
